{% extends 'customers/base.html' %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 text-center">
      <h1>About Us</h1>
      <hr class="my-4">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 text-center">
      <p class="lead">At YummyPoint, we're dedicated to providing a convenient and efficient way for our customers to get their orders delivered to their doorstep. We understand that people lead busy lives and don't always have the time to pick up their orders from restaurants or stores, which is why we strive to make the delivery process as seamless as possible.</p>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8 col-sm-12 text-center">
      <p class="lead">Our platform connects customers with a network of trusted delivery partners who are committed to providing a high level of service and ensuring that every order is delivered in a timely and professional manner. We work closely with our partner restaurants and stores to ensure that their orders are delivered safely and securely.</p>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8 col-sm-12 text-center">
      <p class="lead">At the heart of our app is a commitment to customer satisfaction. We believe that delivering a quality service is about more than just getting the order to the customer's door. It's about providing an experience that is efficient, friendly, and reliable. Our customer support team is always available to answer any questions or concerns, and we take great pride in going above and beyond to ensure that our customers are happy with every delivery.</p>
    </div>
</div> 
{% endblock content %}